# Домашняя работа по уроку 4.1
### Выполнил Мартысюк Илья. группа PY-3

In [72]:
import pandas as pd
PATH = '/Users/martysyuk/Documents/Python 3 Coding/Repositorys/PY-3-Learning/homeworks/names/'
YEARS = [1900, 1950, 2000]

In [78]:
def open_csv_file_by_year(_year_):
    _file_name_ = PATH + 'yob' + str(_year_) + '.txt'
    return pd.read_csv(_file_name_, names=['Name', 'Gender', 'Count'])

In [81]:
def top3(*args):
    data = list()
    for year in args[0]:
        try:
            data.append(open_csv_file_by_year(year))
        except FileNotFoundError:
            pass
    return pd.concat(data, names=['Name']).sort_values(by='Count', ascending=False).head(30)

In [82]:
top3(YEARS)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>Gender</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6113</th>
      <td>James</td>
      <td>M</td>
      <td>86266</td>
    </tr>
    <tr>
      <th>6114</th>
      <td>Robert</td>
      <td>M</td>
      <td>83590</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Linda</td>
      <td>F</td>
      <td>80439</td>
    </tr>
    <tr>
      <th>6115</th>
      <td>John</td>
      <td>M</td>
      <td>79447</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Mary</td>
      <td>F</td>
      <td>65485</td>
    </tr>
    <tr>
      <th>6116</th>
      <td>Michael</td>
      <td>M</td>
      <td>65185</td>
    </tr>
    <tr>
      <th>6117</th>
      <td>David</td>
      <td>M</td>
      <td>60761</td>
    </tr>
    <tr>
      <th>6118</th>
      <td>William</td>
      <td>M</td>
      <td>60722</td>
    </tr>
    <tr>
      <th>6119</th>
      <td>Richard</td>
      <td>M</td>
      <td>51028</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Patricia</td>
      <td>F</td>
      <td>47952</td>
    </tr>
    <tr>
      <th>6120</th>
      <td>Thomas</td>
      <td>M</td>
      <td>45635</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Barbara</td>
      <td>F</td>
      <td>41570</td>
    </tr>
    <tr>
      <th>6121</th>
      <td>Charles</td>
      <td>M</td>
      <td>39132</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Susan</td>
      <td>F</td>
      <td>38021</td>
    </tr>
    <tr>
      <th>17653</th>
      <td>Jacob</td>
      <td>M</td>
      <td>34467</td>
    </tr>
    <tr>
      <th>6122</th>
      <td>Gary</td>
      <td>M</td>
      <td>33763</td>
    </tr>
    <tr>
      <th>17654</th>
      <td>Michael</td>
      <td>M</td>
      <td>32028</td>
    </tr>
    <tr>
      <th>6123</th>
      <td>Larry</td>
      <td>M</td>
      <td>31489</td>
    </tr>
    <tr>
      <th>6124</th>
      <td>Ronald</td>
      <td>M</td>
      <td>29933</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Nancy</td>
      <td>F</td>
      <td>29622</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Deborah</td>
      <td>F</td>
      <td>29073</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Sandra</td>
      <td>F</td>
      <td>28895</td>
    </tr>
    <tr>
      <th>17655</th>
      <td>Matthew</td>
      <td>M</td>
      <td>28572</td>
    </tr>
    <tr>
      <th>17656</th>
      <td>Joshua</td>
      <td>M</td>
      <td>27534</td>
    </tr>
    <tr>
      <th>6125</th>
      <td>Joseph</td>
      <td>M</td>
      <td>27046</td>
    </tr>
    <tr>
      <th>6126</th>
      <td>Donald</td>
      <td>M</td>
      <td>26997</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Carol</td>
      <td>F</td>
      <td>26162</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Emily</td>
      <td>F</td>
      <td>25953</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Kathleen</td>
      <td>F</td>
      <td>25706</td>
    </tr>
    <tr>
      <th>17657</th>
      <td>Christopher</td>
      <td>M</td>
      <td>24928</td>
    </tr>
  </tbody>
</table>
</div>